
*{
    margin:0px;
}
body{
    background-color: antiquewhite;
}
#scr{
    position: absolute;
    border-width: thin;
    border-color:brown;
    border-style: solid;
    width:60%;
    height:600px;
    top:33px;
    left:45px;
}
p{
    font-size: 60px;
    color:chocolate;
}
#opt{
    text-align:center;
    float:right;
    height: 650px;
    width:30%;
    border-color: brown;
    border-style: solid;
    border-width: thin;
    background-color: bisque;
    position: relative;
    top:10px;
    right:30px;
    border-radius: 30px;
}
.t{
    align-items: center;
    font-size: 20px;
    color:chocolate;
    padding-bottom: 20px;
}
.tl{
    width:250px;
    text-align: center;
}
.tb{
    align-content: center;
}
.bu{
    width:100px;
}
#tp{
    position: relative;
    top:25%;
}
.c{
    position:relative;
    top:130px;
    padding-left: 150px;
}


#ta{
    width:80%;
    border-style: solid;
    border-width: thin;
    border-color: brown;
    background-color: bisque;
    position: relative;
    top:200px;
    margin-left: auto;
    margin-right: auto;
}
.tda{
    border-style: solid;
    border-width: thin;
    border-color: brown;
    text-align: center;
}
#min{
    height:70px;
}
#sub{
    height: 80px;
}
input{
    border-style: solid;
    border-width: thin;
    border-color: brown;
}
.sele{
    background-color: antiquewhite;
    border-color: brown;
}
        
form {
    border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
    position: relative;
    width: 50%;
    padding: 12px 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#bu {
    background-color: #4CAF50;
    color: white;
    height:5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    cursor: pointer;
    width: 30%;
}
#bu:hover {
    opacity: 0.8;
}
.body_login{
    background-color: darkorange;
    padding: 5% 0;
}
.container{
    text-align: center;
    background-color: teal;
    
    padding: 10% 0;
}
}
@media screen and (max-width: 300px) {
    .container{
        margin:auto;
    }
    input[type=text], input[type=password]{
        width: 100%
    }
    #bu{
        width: 100%
    }    
}

#up{
    width:290px;
    margin-left: 58px;
    background-color: antiquewhite;
}
.se{
    width:100px;
    background-color: antiquewhite;
    border-color: brown;
}
.tr{
    color:chocolate;
    text-align:center;
}
#num{
    width:100px;
    background-color: antiquewhite;
    border-color: brown;
}
